/* General Blueprint Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/***** Fix for bootstrap background-color style *****/
#fh5co-hero .fh5co-overlay {
    background-color: transparent !important;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #0f2027;
    font-weight: 400;
    min-height: 900px;
    background-color: #252525;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

a {
	color: #ff385f;;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}

/* Parents and Children (Grids & Boxes) */

.parent {
	margin: 0 0 30% 30%;
	width: 40%;
	/*border: 5px solid #FFF;*/
	float: left;
}

.child {
	width: 90%;
	padding: 5%;
	/*border: 4px solid red;*/
	margin: .5em auto;
}

.twins {
	width: 50%;
	padding: 1em;
	/*border: 4px solid red;*/
	float: left;
}

.quad {
	width: 25%;
	padding: 25px 10px 25px 10px;
	/*border: 4px solid red;*/
	float: left;
}

.quad i {
	align-content: center;
	width: 100%;
	font-size: 3vw;
	color: #fff;
	background-color: #252525;
	border-radius: 15px;
	padding: 25%;
}

.quad a i:hover {
	color: #252525;
	background-color: #fff;
}

.twins i {
	align-content: center;
	width: 100%;
	font-size: 3vw;
	color: #fff;
	background-color: #252525;
	border-radius: 15px;
	padding: 25%;
}

.twins a i:hover {
	color: #252525;
	background-color: #fff;
}

/* Keeps all Font Awesome Icons centered */
.icon{
    text-align: center;
}

/* Specifically to put in the gradients for the instagram icon */
.fa-instagram {
	background: #f9ed32; /* Old browsers */
	background: -moz-linear-gradient(45deg, #f9ed32 0%, #ee2a7b 63%, #002aff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f9ed32 0%,#ee2a7b 63%,#002aff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f9ed32 0%,#ee2a7b 63%,#002aff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ed32', endColorstr='#002aff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Text formatting for bubbles */

#topic {
	margin-top: 4vw;
	padding: 50px;
}

.words {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2vw;
	color: #252525;
	background-color: #FFF;
	border-radius: 30px;
	padding: 10px 25px 10px 25px;
}

.info {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2vw;
	color: #FFF;
	background-color: #00D0FF;
	border-radius: 30px;
	padding: 10px 25px 10px 25px;
}

.info:hover {
	color: #252525;
}

.break {
	margin: 8vw;
}

/* Shiny Button */

.shiny-btn {
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  color: #00d0ff;
  background-color: rgba(19, 19, 19, 0.5);
  border: 1px solid #00d0ff;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.shiny-btn:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00d0ff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.shiny-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

}
